<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'eve/eve.js' %>
  <%= javascript_include_tag 'raphael/raphael.js' %>
  <%= javascript_include_tag 'mapael/mapael.js' %>
  <%= javascript_include_tag 'mapael/maps/world_countries.js' %>
  
  <%= javascript_include_tag 'charts_mapael.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Charts /</span> Mapael
</h4>

<hr class="border-light container-m--x mt-0 mb-5">

<div id="mapael-example">
  <div class="map">Alternative content</div>
</div>
