<% content_for :styles do %>
  <%= stylesheet_link_tag 'morris/morris.css', media: 'all' %>
<% end %>

<% content_for :scripts do %>
  <!-- Dependencies -->
  <%= javascript_include_tag 'eve/eve.js' %>
  <%= javascript_include_tag 'raphael/raphael.js' %>
  <%= javascript_include_tag 'morris/morris.js' %>
  
  <%= javascript_include_tag 'charts_morrisjs.js' %>
<% end %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<h4 class="font-weight-bold py-3 mb-4">
  <span class="text-muted font-weight-light">Charts /</span> Morris.js
</h4>

<hr class="border-light container-m--x mt-0 mb-5">

<div class="demo-vertical-spacing-lg">
  <div id="morrisjs-graph" style="height: 250px"></div>
  <div id="morrisjs-bars" style="height: 250px"></div>
  <div id="morrisjs-area" style="height: 250px"></div>
  <div id="morrisjs-donut" style="height: 250px"></div>
</div>
